<div>
    <form method="post" action="~/Name.cshtml">
        Name:<br />
        <input type="text" name="name" value="" /><br />
        <input type="submit" value="Submit" class="submit" />
    </form>
</div>