@{
    //Layout = "_Layout.cshtml";
    Page.Title = "Suit v3";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        Mark VI bla blal bla
    </p>
}

@section Links {
    <a href="Mark3.cshtml">Mark III</a>
}